body{
    position:static;
    background-color:white;
}
header{
    width:100%;
    height: 100px;
    background-color:chocolate;
    text-align: center;
    border: 2px solid black;
    line-height:50px;
    padding:0px;
}
div[class *= "web"]{
    /*border:1px solid black;*/
    margin-bottom:20px;
    border:1px solid black;
    text-align:center;
}
div.container {
    position:static;
    display:flex;
    flex-direction:column;
    justify-content:stretch;
}
div.web1 > h2{
    text-align:center;
}

div.web1 > div.containerweb1{
    height:900px;
    width:100%;
    background-color:yellow;
    display:grid;
    grid-template-columns:450px 450px 450px;
    grid-template-rows:50px 50px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap:10px;
    justify-content:center;
    /*align-content:center;*/
    align-content:center;
    
}
  div.containerweb1 > div{
    
    text-align:center;
    border:1px solid black;
    background-color:orange;
    font-size:25px;
   
}
div.containerweb1 > div.one{
    grid-column:1/4;
    line-height:50px;
    
}
div.containerweb1 > div.one1{
    grid-area:2/1/2/4;
    line-height:50px;
    
}

/*div.containerweb1 > div.one div{
    border:1px solid black;
    width:80%;
    position: relative;
    top:23%;
    left:10%;
    height:50px;
    background-color:yellowgreen;
    line-height:50px;
}*/

div.containerweb1 > div.two{
    /*grid-area:;*/
    /*grid-column:1/4;*/
    grid-row:3/5;
    grid-column:1/4;
    line-height:200px;
}
div.containerweb1 > div.tree{
    grid-area:5/1/7/4;
    line-height:200px;
}
div.containerweb1 > div.fore{
    grid-area:7/1/9/2;
    line-height:200px;
}
div.containerweb1 > div.fire{
    grid-area:7/2/9/3;
    line-height:200px;
}
div.containerweb1 > div.six{
    line-height:100px;
    grid-column:3/4;
    grid-row:7/9;
    line-height:200px;
}
div.containerweb1 > div.seven{
    grid-area:9/1/10/4;
    line-height:100px;
}

/*-pantip*/
div.web2 > div.containerweb2{
    height:1700px;
    width:100%;
    background-color:MediumOrchid;
    display:grid;
    grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
    grid-template-rows:100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px ;
    grid-gap:10px;
    justify-content:center;
    align-content:center;
    
}
div.web2 > div.containerweb2 div{
    border:1px solid black;
    background-color:Purple;
    text-align:center;
    font-size:25px;
    border-radius: 10px;
    
}
div.containerweb2 > div.a1{
    grid-column:1/5;

}
div.containerweb2 > div.a1 div{
    border:1px solid black;
    height:50px;
    
    background-color:DarkMagenta;
    position:relative;
    width:70%;
    top:16px;
    left:15%;
    line-height:50px;
    border-radius: 0px;
}

div.containerweb2 > div.a2{
    grid-area:2/1/4/5;
    line-height:200px;
}
div.containerweb2 > div.a3{
    grid-area:4/1/6/5;
    line-height:200px ;
}
div.containerweb2 > div.a4{
    grid-area:6/1/9/3;
    line-height:300px;
    
}
div.containerweb2 > div.a5{
    grid-area:6/3/9/5;
    line-height:300px;
    
}
div.containerweb2 > div.a6{
    grid-area:9/1/12/4;
    line-height:300px;
}
div.containerweb2 > div.a7{
    grid-area:9/4/11/5;
    line-height:300px;
}
div.containerweb2 > div.a8{
    line-height:100px;
}
div.containerweb2 > div.a9{
    grid-area: 12/4/14/5;
    line-height:200px;
}
div.containerweb2 > div.a10{
    grid-area: 12/1/15/4;
    line-height:300px;
}
div.containerweb2 > div.a11{
    grid-area:15/1/15/5;
    line-height:100px;
}

/*amarin*/
div.web3 > div.containerweb3 {
    height:800px;
    width:100%;
    background-color:Aquamarine;
    display:grid;
    grid-template-columns:300px 300px 300px 300px;
    grid-template-rows:50px 100px 100px 100px 100px 100px 30px;
    grid-gap:10px;
    justify-content:center;
    /*align-items:center;*/
    align-content:center;
}
div.web3 > div.containerweb3 div{
    border:1px solid black; 
    background-color:Cyan;
    text-align:center; 
    font-size:25px; 
    border-radius:5px;
}
div.containerweb3 > div.b1{
    grid-column:1/5;
    line-height:50px;
}
div.containerweb3 > div.b2{
    grid-area:2/1/4/3;
    line-height:200px;
}
div.containerweb3 > div.b3,div.containerweb3 > div.b4,div.containerweb3 > div.b5,div.containerweb3 > div.b6,
div.containerweb3 > div.b7,div.containerweb3 > div.b8,div.containerweb3 > div.b9{
    line-height:100px;
}
div.containerweb3 > div.b7{
    grid-area:4/1/5/5;
    
}
div.containerweb3 > div.b8{
    grid-area:5/1/6/5;
}
div.containerweb3 > div.b9{
    grid-area:6/1/7/5;
}
div.containerweb3 > div.b10{
    grid-area:7/1/9/5;
    line-height:130px;
}